@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background: #000000;
}

.app {
    background-color: #fff;
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    padding: 30px;
    border-radius: 10px;
}

.app h1 {
    font-size: 20px;
    color: black;
    font-weight: 600;
    border-bottom: 1px solid #333;
    padding-bottom: 30px;
}

.quiz {
    padding: 20px 0;
}

.quiz h2 {
    font-size: 16px;
    color: black;
    font-weight: 600;
}

.btn {
    background: #fff;
    color: #222;
    font-weight: 500;
    width: 100%;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
}

.btn:hover:not([disabled]) {
    background: #222;
    color: #fff;
}

.btn:disabled {
    cursor: no-drop;
}

#next-btn {
    background: #fe6f50;
    color: #fff;
    font-weight: 500;
    width: 50px;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
    padding: 10px;
    margin: 20px auto 0;
    display: block;
}

.correct {
    background-color: #9aeabc;
}

.incorrect {
    background-color: #ff9393;
}

nav {
    background-color: #fff;
    padding: 10px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-start;
}

nav li {
    margin-right: 10px;
}

nav a {
    color: #222;
    text-decoration: none;
    padding: 5px;
    border-radius: 4px;
}

nav a:hover {
    background-color: #222;
    color: #fff;
}

/* Media Query for screens smaller than 600px */
@media screen and (max-width: 600px) {
    nav ul {
        flex-direction: column;
        align-items: flex-start;
    }

    nav li {
        margin-bottom: 5px;
    }
}
